{% extends 'base.html.twig' %}

{% block body %}
<p>Ustawienia</p>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">[IMIĘ NAZWISKO AGENTA]</p>
  </div>
</div>
<a href="#" onclick="history.back();">Wróć na stronę główną</a>
{% endblock %}
