<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
<h1>Witaj w aplikacji HrApp!</h1>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home/main" class="btn btn-outline-primary" target="_blank"><span class="fa fa-home">&nbsp;Strona główna</span></a></li>
      <li><a href="app/settings" class="btn btn-outline-secondary" ><span class="fa fa-cog">&nbsp;Ustawienia</span></a></li>
      <li><a href="app/signout" class="btn btn-outline-danger"><span class="fa fa-sign-out-alt">&nbsp;Wyloguj</span></a></li>

    </ul>
  </div>
</nav>
